# VS Code
.vscode/

# Java compiled files
*.class

# Log files
*.log

# Java archives
*.jar
*.war
*.ear
*.nar

# Archives
*.zip
*.tar.gz
*.rar

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

# JVM crash logs
hs_err_pid*
replay_pid*

# Windows / macOS
Thumbs.db
.DS_Store

# Personal local files
Resources/
System design/
Setup github/
java.pdf
CodeChef certificates/